<!-- <app-header></app-header> -->
<!-- <app-forms></app-forms> -->
<!-- <app-grouping-form></app-grouping-form> -->

<!-- <h1>Pass Data to Child component </h1>
<app-people [user]="userName"   city="Gurugram" ></app-people>
<select   #selectedUser   (change)="onUserChange(selectedUser.value)">
    <option value="Supriya">Suriya </option>
    <option value="Manish ">manish  </option>
        <option value="Sonu">sonu</option>
            <option value="Sam">Sam </option>
</select> -->

<!-- <app-template-form></app-template-form> -->
<!-- <router-outlet></router-outlet> -->
<!-- @for  (user of users; track user){
<div> 
    <app-child [user]="user" ></app-child>
</div>


} -->


<!-- <h2>Pass Data Child To Parent </h2>
<app-child-to-parent (getUsers)="handleUsers($event)" ></app-child-to-parent>



@for (user of users; track user){
<h1>{{user}}</h1>

} -->


<!-- <h4>pipes Module  In angular </h4>
<h2>{{title|uppercase}}</h2>
<h4>{{title |titlecase}}</h4>
<h2>{{date| date}}</h2>
<h2>{{date| date: 'fullDate'}}</h2>
<h3>{{amount| currency}}</h3>
<h4>{{amount| currency:'EUR'}}</h4>
<h5>{{amount| currency:'INR'}}</h5> -->


<!-- <h2>Custom Pipe Modules </h2>
<h4>{{amount|currencyConvertor}}</h4>

<h1>{{100|currencyConvertor:12}}</h1> -->



<!-- <h1>Life Cycle Methods in Angular </h1>

<app-user-person></app-user-person> -->

<!-- <h1> service </h1>
<button (click)="getProductData()" >load product data</button>
@for (item of productData; track item ) {
    <h1>{{item.name}},{{item.branch}},{{item.price}}</h1>
     <h1></h1>
      <h1></h1>
} -->
<!-- 


-------------------------------------------------------------------------------------- -->


<h1>API Call Service </h1>

<form   #userForm="ngForm"  (ngSubmit)="addUser(userForm.value)">
    <input type="text" placeholder="name" name="name" [ngModel]="selecteduser?.name" >
    <br><br>

    <input type="text" placeholder="age" name="age" [ngModel]="selecteduser?.age"> 
    <br><br>

    <input type="text" placeholder="email" name="email"  [ngModel]="selecteduser?.email">
    <br><br>
    @if(!selecteduser){
    <button>Add User </button>
    }
    @else {
        <button>update user  </button>
    }

</form>

@for (user of users; track user.id) {
    <ul>
        <li>{{user.id}}</li>
      <li>{{user.name}}</li>
      <li>{{user.age}}</li>
      <li>{{user.email}}</li>
      <li><button  (click)="deleteUser(user.id)" >delete</button></li>
<li><button  (click)="SelectUpdateUser(user.id)" >update User Data </button></li>
      

      
    </ul>
}